$btn-bg-color: #fff;
$text-color: #4A62E7;
$slider-bg-color: #D8D8D8;
$slider-active-color: #4A62E7;

@import './panzoom';

.cr-cytoscape {
    position:relative;
    overflow:hidden;
    height: 100%;
}

.cr-cytoscape .cr-cytoscape-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cr-cytoscape-popper-div{
    z-index: 1;
}
