.cy-panzoom {
  right: 24px;
  top: 24px;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .cy-panzoom-zoom-button,
  .cy-panzoom-zoom-button:active {
    position: relative;
    width: 22px;
    height: 22px;
    line-height: 22px;
    padding: 0;
    font-weight: bold;
    text-align: center;
    color: $text-color;
    background-color: #fff;
    border: 1px solid rgba(216, 216, 216, 1);
    cursor: pointer;

    &:before {
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: -2px;
      left: 0;
      font-size: 24px;
    }
  }
  .cy-panzoom-zoom-in {
    border-radius: 2px 2px 0 0;
    order: 1;
    &:before {
      content: '+';
    }
  }
  .cy-panzoom-zoom-out {
    border-radius: 0 0 2px 2px;
    order: 3;
    &:before {
      content: '-';
    }
  }

  .ml-cytoscape-panzoom-plus:before,
  .ml-cytoscape-panzoom-minus:before {
    font-weight: normal;
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .cy-panzoom-slider {
    position: relative;
    height: 150px;
    width: 22px;
    background: #fff;
    border: 1px solid #d8d8d8;
    border-width: 0 1px;
    order: 2;
    overflow: hidden;
  }

  .cy-panzoom-slider-background {
    position: absolute;
    width: 1px;
    height: 100%;
    left: 50%;
    background: $slider-active-color;
  }
  .cy-panzoom-slider-handle {
    position: absolute;
    cursor: pointer;
    width: 10px;
    height: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    background: $text-color;
    border-radius: 50%;

    &:before {
      position: absolute;
      display: block;
      content: '';
      top: 10px;
      width: 1px;
      height: 150px;
      left: 50%;
      background-color: $slider-bg-color;
    }
  }
  .ml-cytoscape-panzoom-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  .cy-panzoom-panner,
  .cy-panzoom-reset,
  .cy-panzoom-no-zoom-tick {
    display: none;
  }
}

.pan-zoom-small {
  .cy-panzoom-zoom-in {
    background-color: $text-color;
    color: $btn-bg-color;
  }
  .cy-panzoom-zoom-out {
    border-top-width: 0;
  }
  .cy-panzoom-slider {
    display: none;
  }
}
